<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do list</title>
</head>
<body>
        <div class="toDoList">
                <ul>
                 <li v-for="todo in todos">
                 {{ todo }}
                    </li>
                  </ul>
                  <input v-model="newList" v-on:keyup.enter="addTodo()">
                </div>
                
     </div>
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
     <script src="main-vue.js"></script>
</body>
</html>